/* Import the font */
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

:root {
  --game-font: "Seymour One", sans-serif;
  --speech-font: "Sofia Sans", sans-serif;
  --dark-purple: rgb(18, 22, 75);
  --dark-blue: rgb(42, 118, 180);
  --light-blue: rgba(121, 185, 255, 255);
  --white: rgb(255, 255, 255);
  --light-grey: rgb(221, 221, 221);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

h1 {
  font-family: var(--game-font);
  margin-bottom: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr); /* 9 columns */
  grid-template-rows: repeat(10, auto); /* 10 rows */
  width: 100%;
  max-width: 90vw; /* Responsive max width */
  margin: 0 auto; /* Center the board horizontally */
}

.cell {
  width: 100%; /* Fill available space in the grid */
  padding-bottom: 100%; /* Maintain a square aspect ratio */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  box-sizing: border-box; /* Ensures padding and border are included in the total width and height */
  color: #fff; /* Text color for better contrast */
  font-size: 1.5vw; /* Responsive font size */
}

.cell.default-gray {
  background-color: #808080; /* Default grey */
}

.cell.light-gray {
  background-color: #D3D3D3; /* Light grey */
}

.cell.dark-gray {
  background-color: #404040; /* Dark grey */
}


/* Medium screens (laptops, tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
  .cell {
    padding-bottom: 100%;
    font-size: 1vw; /* Smaller font size for laptops */
  }
}

/* Large screens (desktops) */
@media (min-width: 1025px) {
  .board-container {
    max-width: 35vw; /* Smaller board size for larger screens */
  }

  .cell {
    padding-bottom: 100%;
    font-size: 0.75vw; /* Smaller font size for large screens */
  }
}

/* Small screens (phones) */
@media (max-width: 768px) {
  .cell {
    padding-bottom: 100%;
    font-size: 2.5vw; /* Larger font size for small screens */
  }
}

/* Very small screens */
@media (max-width: 480px) {

  .cell {
    padding-bottom: 100%;
    font-size: 3.5vw; /* Even larger font size for very small screens */
  }
}